/* Cusom properties */
:root {
  --c-white: hsl(0, 0%, 100%);
  --c-paleblue: hsl(221, 100%, 96%);
  --c-lightlavender: hsl(241, 100%, 89%);
  --c-darkgrayblue: hsl(224, 30%, 27%);
  --c-lightslateblue: hsl(252, 100%, 67%);
  --c-lightroyalblue: hsl(241, 81%, 54%);
  --c-violetblue: hsl(256, 72%, 46%);
  --c-persianblue: hsla(241, 72%, 46%, 0);
  --c-lightred: hsl(0, 100%, 67%);
  --c-orangeyellow: hsl(39, 100%, 56%);
  --c-greenteal: hsl(166, 100%, 37%);
  --c-cobaltblue: hsl(234, 85%, 45%);
  --fw-500: 500;
  --fw-700: 700;
  --fw-800: 800;
  font-size: 18px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 18px;
}

/* Card-top styles */

.card-top {
  background: linear-gradient(hsl(252, 100%, 67%), 25%, hsl(241, 81%, 54%));
  color: var(--c-white);
  text-align: center;
  padding: 2rem 2.5rem;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
}

.card-top h1 {
  font-size: 1.1rem;
  color: var(--c-lightlavender);
  margin-block-end: 1.5rem;
}

.score {
  background: linear-gradient(hsla(241, 72%, 46%, 0.6), hsla(256, 72%, 46%, 0));
  margin: 0 auto 1.5rem;
  padding: 1.5rem;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.score p:nth-of-type(1) {
  font-size: 3.5rem;
  font-weight: var(--fw-800);
}

.score p:nth-of-type(2) {
  color: var(--c-lightlavender);
}

.score-result {
  font-size: 1.5rem;
  font-weight: var(--fw-700);
  margin-block-end: 0.5rem;
}

.score-comment {
  font-size: 0.9rem;
  color: var(--c-lightlavender);
}

/* Card bottom styles */

.card-bottom {
  padding: 1.5rem 2rem;
}

.card-bottom h2 {
  font-size: 1.1rem;
  font-weight: var(--fw-700);
  margin-block-end: 1.5rem;
}

.summary-item {
  border: 1px solid red;
  border-radius: 10px;
  padding: 1rem;
  margin-block-end: 1rem;
  display: flex;
  justify-content: space-between;
}

.summary-category {
  display: flex;
}